<h1>New Sketch:</h1>

<form method="post" action="/sketches">
  <label>Enter the URL of a sketch here:
  <input type="text" name="sketch_text">
</label>
  <label>Date Sketched:
  <input type="date" name="sketch_date">
</label>
  <input type="submit" value="Create Sketch">
</form>
