
h1  {
  text-transform: uppercase;
}

a   {
  text-decoration: none;
}

p   {
  font-weight: bold;
}

div.green  {
  background-color: rgb(148, 179, 148);
  border: 5px dashed green;
}

.ring {
  border-color: gray;
}

.example  {
  font-style: italic
}

#bullseye {
  background-color: #D04A41
}

#bullseye:hover {
  opacity: 0.5;
}

h1, h2  {
  font-size: 3em;
}

.target.container {
  background-color: #facade
}

.yellow :nth-child(2)  {
  opacity: 0.0;
}

.container p:nth-child(1)  {
  text-decoration: underline
}

/*
first lines i tried which did not work:;

.red, .blue, .yellow, .green
.red, .blue, .yellow, .green :nth-child(1)
[.red, .blue, .yellow, .green] p:nth-child(1)
(.red, .blue, .yellow, .green) p:nth-child(1)
p.container :nth-child(1)
p :nth-child(1)
.container :nth-child(1)
div.container :nth-child(1)
p .container :nth-child(1);
.container p :nth-child(1)
*/

