/* The fixed header's hex color is #333333 */

/* Brings in the font for the header text */
@font-face {
  font-family: "lato";
  src: url(../fonts/lato_light.woff);
}

/* brings in the font for the nav links */
@font-face {
  font-family: "ostrich";
  src: url(../fonts/ostrich.woff);
}

/* brings in the font for the basic text */
@font-face {
  font-family: "droid-sans";
  src: url(../fonts/droid_sans.woff);
}

html, body {
  min-height: 100%;
}

div {
  vertical-align: top;
}

.container  {
  width: 100%;
  margin-left: 0;
  margin-right:0;
}

header div {
  display: inline-block;
}

header  {
  background-color: #333333;
}

li  {
  list-style-type: none;
  display: inline-block;
  margin: 2px 2px 2px 2px;
  text-align: right;
  color: white;
  font-family: lato;
}

.main_photo {
  background-image: url("images/dapper_steve.jpg");
}
