body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.downsized {
  width: 80%;
  margin: 0 auto;
}

.pushy {
  margin-bottom: 40px;
}

.operation {
  margin: 0 auto;
  display: inline-block;
  width: 398px;
  vertical-align: top;
}

.gutter {
  display: inline-block;
  width: 5%;
}

.main {
  width: 960px;
  margin: 0 auto;
}

img {
  display: block;
}

/*==================================*/
/* Write Your Styles below!!! */
/*==================================*/

.gutter {
  position: relative;
}

.wishbone   {
  position: absolute;
  top: 32px;
  left: 223px;
}

.breadbasket  {
  position: absolute;
  top: 280px;
  left: 243px;
}

/*tposition: absolute;
  top: 240px;
  left: 200px;
  this breadbasket code alone makes it in place . . . . when i had not messed with wishbone or any other body part yet!*/

.heart  {
  position: absolute;
  top: 62px;
  right: 180px;
}

/*leaving out absolute doesn't do anything*/

.butterflies  {
  position: absolute;
  top: 172px;
  right: 200px;
}
