<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet">
    <title>Exercise</title>
  </head>
  <body>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/cast.js"></script>
  </body>
</html>
