<p class="text">Do we cut to the <a href="/cute_or_problem">kids</a> or the <a href="/parent">Parents?</a>
  </p>
<!--   <ul>
    <li>
      <a class="yes" href="/cute_or_problem">Kids?</a>
      <a class="no" href="/parent">Parents?</a>
    </li>
  </ul> -->
