<h1>All Entries</h1>

<ul>
  <% @entries.each do |entry| %>
    <li>Author: <%= entry["author"] %>
      Taken on: <%= entry["date_taken"] %>
    <img src="<%= entry["photo_url"] %>" alt="">
  </li>
  <% end %>

</ul>
