<div class="box">
  <form action="/entries" method="POST">

    <label>Author:
      <p>
      <input type="text" name="author">
      </label></p>
      <p>
      <label>Photo Url:
      </p><p>
        <input type="text" name="photo_url">
      </label>
    </p><p>
      <label>Date taken:
      </p><p>
        <input type="date" name="date_taken">
      </label>
    </p><p>
        <input type="submit" value="Save!">
      </p>
  </form>
</div>


