<h1>Lucky you! Welcome to Part One of your fabulous dmv experience.</h1>

<form method="post" action="/first_form">
  <label>Please enter your full name, as it appears on your birth certificate:  <input type="text" name="driver_name">
</label>

 <p>
  <label>Please enter your Driver's License Id Number:  </label>
  <input type="text" name="driver_License">
</label>
</p>
  <p>
  <input type="submit" value="Submit">
</p>
</form>



</form>
