/* ===== Color Values ===== */
/* blue: rgb(16, 118, 221) */
/* red: rgb(249, 68, 30) */

/* Brings in the "Futura" Font */
@font-face {
  font-family: "Futura";
  src: url(../fonts/futura-medium-webfont.woff);
}

html {
  font-family: Futura;
  background-color: rgb(246, 240, 102);
}

/* ======================================= */
/*    Students: Write Your Styles Below!   */
/* ======================================= */

ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li  {
  position: absolute;
  display: inline;
}

body  {
  position: relative;
}

.words  {
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  top: 80px;
  right: 200px;
}

img  {
  position: absolute;
  top: 100px;
  left: 100px;

}

.hello {
  color: rgb(16, 118, 221);
}

.philco {
  color: rgb(249, 68, 30);
}
