<h1><%= @house.name %></h1>
<div>
  <%= image_tag @house.img_url %>
</div>
    <% @house.students.each do |student| %>
<div class="student">
   <h2><%= student.name %></h2>
   <%= image_tag student.img_url %>
 </div>
  <% end %>


