<h1>New Quiz Form</h1>

<form action="" method="post">
<input type="text" name="numbers"></input>
<input type="button"></input>
</form>

it "has a text input where we can enter a string of numbers" do
      visit '/quiz/new'
      within("form#quiz") { expect(page).to have_css('input[name="numbers"]') }
      within("form#quiz") { expect(page).to have_css('button') }
