<!doctype>
<html>
<head>
  <title>Words of Encouragement</title>
</head>
<body>
  <h1>Smile! Enjoy some deep thoughts from General Assemb.ly.</h1>
  <%= @compliment %>
  <a link="/">I'm still emotionally vacant. Give me another compliment</a>
  <a link="http://www.ruby-doc.org/">I'm ready to soldier on.</a>
</body>
</html>



# an achor (<a>) tag that links back to the root ("/") and displays the text "I'm still emotionally vacant. Give me another compliment."
# another anchor tag, but this one displaying the text "I'm ready to soldier on.", and takes the user to the Ruby docs when clicked.


