<!doctype>
<html>
<head>
  <title>Cheer Up, Cowgirl!</title>
</head>
<body>
  <h1>Smile! Keep Your Spirits High - chew on this . . . <%= @name %></h1>
  <h2><%= @compliment %></h2>
  <p></p>
  <a href="/">I'm still emotionally vacant. Give me another compliment</a>
  <p></p>
  <a href="http://www.ruby-doc.org/">I'm ready to soldier on.</a>
</body>
</html>




