<h1>Instructors</h1>
<ul>
  <li><a href = "/instructors/:name=PJ">PJ</a></li>
  <li><a href = "/instructors/:name=Travis">Travis</a></li>
    <li><a href = "/instructors/:name/?=Phil">Phil</a></li>
</ul>
